<ul class="navbar-nav nav nav-underline">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="index.html">
            <i class="bi bi-house-fill pe-1"></i>
            Início
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="assistido.html">
            <i class="bi bi-person-fill pe-1"></i>
            Assistido
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="bi bi-headset pe-1"></i>
            Atendimento
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="bi bi-bell-fill pe-1"></i>
            Notificação
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="bi bi-briefcase-fill pe-1"></i>
            Ofício
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="bi bi-file-earmark-text pe-1"></i>
            Protocolo
        </a>
    </li>
</ul>