
    <footer class="--bs-secondary-color bg-body-tertiary text-body-secondary">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-12 col-lg-3">
                    <h4 class="border-bottom border-5 d-inline-block">Responsáveis pela plataforma</h4>
                    <h5>Desenvolvedores</h5>
                    <ul class="list-unstyled">
                        <li>Ana Carolina Carnelos Masquetti</li>
                        <li>Vitor Mollo Cunha</li>
                    </ul>

                    <h5>Orientador</h5>
                    <ul class="list-unstyled">
                        <li>Renato Oliveira Violin</li>
                    </ul>

                    <h5>Contato para suporte</h5>
                    <ul class="list-unstyled">
                        <li>Email: <a href="mailto:conselhotutelar@mococa.sp.gov.br">conselhotutelar@mococa.sp.gov.br</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3">
                    <h4 class="border-bottom border-5 d-inline-block">Sobre a plataforma</h4>
                    <p>Este projeto faz parte do trabalho de conclusão de curso <strong>de Gestão da Tecnologia de Informação</strong> na FATEC Mococa.</p>
                    <a href="">Trabalho escrito</a>
                </div>
                <div class="col-12 col-lg-6">
                    <h4 class="border-bottom border-5 d-inline-block">Sobre o Conselho Tutelar de Mococa</h4>
                    <div class="row">
                        <div class="col-6">
                            <h5>Contato</h5>
                            <ul class="list-unstyled">
                                <li>Email: <a href="mailto:conselho@mococa.sp.gov.br">conselho@mococa.sp.gov.br</a></li>
                                <li>Telefone: <a href="tel:+551930941571">+55 19 3094-1571</a></li>
                                <li>Telefone: <a href="tel:+551936561483">+55 19 3656-1483</a></li>
                                <li>Telefone: <a href="tel:+5519992028709">+55 19 99202-8709</a></li>
                                <li>Telefone: <a href="tel:+5519997099614">+55 19 99709-9614</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h5>Endereço</h5>
                            <ul class="list-unstyled">
                                <li>Rua Capitão Miguel Ferreira, 533 - Vila Mariana</li>
                                <li>Mococa - SP</li>
                                <li>CEP: 12345-678</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h5>Informações Adicionais</h5>
                            <ul class="list-unstyled">
                                <li>Site: <a href="https://www.mococa.sp.gov.br">www.mococa.sp.gov.br</a></li>
                                <li>Facebook: <a href="https://www.facebook.com/conselho.mococa">facebook.com/conselho.mococa</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h5>Mandato atual</h5>
                            <ul class="list-unstyled">
                                <li>Conselheira um</li>
                                <li>Conselheira dois</li>
                                <li>Conselheira três</li>
                                <li>Conselheira quatro</li>
                                <li>Conselheira cinco</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>