<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Notificações | Conselho Tutelar</title>
</head>
<body>
    {% load static %}
    {% include 'partials/top-code.html' %}
    <main style="min-height: 57em;">
        <div class="container my-2">
            <h1>Conteúdo principal da página de Notificação</h1>
        </div>
    </main>
    {% include 'partials/bottom-code.html' %}
</body>
</html>